.wrapper .team-h1 {
  color: orange; 
  text-align: center;
  margin-bottom: 3rem;
}

.team-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-circle h2{
  position: absolute;
  color: white;
  font-size: 2rem;
  z-index: 3;
  scale: 1
}

.team-circle-img {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: all .5s;
  cursor: pointer;
}

.team-circle-img:hover{
  transform: scale(1.1);
}

.team-circle-img.item-clicked { 
  background-color: #f54242;
  border-radius: 30%;
  transform: translate(-4vw);
  transition: all .5s, border-radius 1s;
}

.team-circle-img.item-clicked-right { 
  background-color: royalblue;
  border-radius: 30%;
  transform: translate(4vw);
  transition: all .5s, border-radius 1s;
}

.team-circle:focus {
  outline: none;
}

.member-content {
  display: inline;
  transition: all .2s; 
  border-color: transparent;
}

.member-content p {
  transition: all .2s; 
  margin-bottom: 0px;
}