/* Designed for 600px first */
/* Color pallete 
lightgray: #f0efeb

*/
.wrapper{ 
  margin: 0 3vw 0 3vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* React Router Navbar */
ul, li {
  display: inline-block;
  margin-bottom: 20px;
}

.title {
  display: inline-block;
  color: #ffa500;
  font-weight: 700;
  font-size: 40px;
  transition: 0.3s;
}

.title:hover {
  color: rgb(211, 137, 0);
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.app-main {
  background-color: white;
}


/* Maker Space Layout */
.maker {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

label {
  width: 70%;
  font-size: 12px;
}

.text-input {
  display: inline-block;
  background-color: white;
  border: solid 2px transparent;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 10px;
  font-size: 12px;
  width: 100%;
}

.question-input {
  padding-bottom: 30px;
}

.check-box {
  float: right;
}

.maker button {
  display: inline-block;
  width: 70%;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
}

.maker button:nth-of-type(1) {
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  background-color: orange;
}

.maker button:nth-of-type(2) {
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  font-weight: 500;
}

/* Card Layout */
.card-total-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-total-cover h3 {
  color: orange;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background-color: white;
  border: solid 0px transparent;
  border-radius: 25px;

  overflow-x: hidden;
  height: 300px;
  width: 250px;

  -webkit-box-shadow: 3px 8px 16px -4px rgba(140,140,140,1);
  -moz-box-shadow: 3px 8px 16px -4px rgba(140,140,140,1);
  box-shadow: 3px 8px 16px -4px rgba(140,140,140,1);
}

.card-question-cover {
  width: 320px;
  height: 100px;
  background-color: orange;
  bottom: 10px;
  position: relative;
}

.card-buttons-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-buttons-cover button {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: #525252;
  position: relative;
  transition: transform .3s;
  cursor: pointer;
}

.card-buttons-cover button:focus {
  outline: none;
  box-shadow: none;
}

.card-submit {
  padding: 8px 12px 8px 12px;
  background-color: orange;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-top: 75px;
  width: 100%;
  cursor: pointer;
}

/* card main question */
.card h4 {
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 20px 20px 0px 20px;
}

/* card answers */
.card-answer-group h5 {
  font-size: 18px;
  margin-bottom: 15px;
  width: 125px;
}

.card-answer-group {
  display: grid;
  grid-template-areas: 
  "ans1 ans2"
  "ans3 ans4";
  text-align: center;
}

.card-answer-correct {
  color: #40cf66;
}

.error-block {
  color: #AC0000;
  background-color: #F6A4A4;
  border: 3px solid #AC0000;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.error-block p {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}

/* Display cards on View Mode */
.view.card { 
  width: 50vw; 
  height: 35vh; 
}

.view.card-answer-group {
  
}

.view.card-question-cover { 
  width: 50vw; 

}

.view.card-answer-group h5{
  padding: 1em;
}

/* Display Card Answers on View Mode */
.correct-ans { 
  background : #79E353; 
  padding: 1em;
  border-radius: 50px; 
}

.wrong-ans { 
  color: #E35353; 
  /* padding: 1em;
  border-radius: 50px;  */
}

@media (min-width: 575px) {
  /* MAKER SPACE */
  label {
    width: 100%;
  }

  .maker button {
    width: 100%;
    font-size: 12px;
  }

  .font-plus {
    display: none;
  }

  /* CARD */
  .card {
    width: 300px;
    height: 250px;
  }

  .card-question-cover {
    height: 80px;
  }

  .card h4 {
    font-size: 20px;
  }

  .card-answer-group h5 {
    width: 140px;
  }

  .card-buttons-cover button {
    padding-right: 20px;
    padding-left: 20px;
  }

  /* back button animation */
  .card-buttons-cover button:nth-of-type(1):hover {
    transform: translate(-5px,0);
  }

  /* forward button animation */
  .card-buttons-cover button:nth-of-type(2):hover {
    transform: translate(5px,0);
  }

  .card-submit {
    width: 100px;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 50px;
  }
}


@media (min-width: 800px) {
  /* MAKER SPACE */
  .font-plus {
    display: inline;
  }

  /* CARD */
  .card {
    width: 400px;
    height: 225px;
  }

  .card-question-cover {
    width: 450px;
    height: 75px;
  }

  .card-answer-group h5 {
    width: 180px;
  }

}