body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
}

.answer-choice {
  display: block;
}
.text-input {
  display: block;
  margin-bottom: 10px;
}

.maker-space {
  display: flex;
  flex-direction: row;
  background-color: pink;
}

button {
  display: block;
  margin: 20px;
}

.back-forth-button button {
  display: inline;
  margin: 0;
}


/* CARD LAYOUT */

.card {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  margin-left: 200px;
  height: 300px;
  width: 600px;
  background-color: lightblue;
}

.card-question {
  margin-bottom: 20px;
}

.card-answer {
  margin: 20px;
}

.card-answer-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}